.main-container {
    max-width: 1440px;
    margin: 0 auto;
}

.announcements {
    display: flex;
    justify-content: center;
    background-color: #d8e8e3;
    margin-bottom: 35px;
}

.announcements span {
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
    max-width: 60%;
    text-align: center;
    font-size: 16px;
    line-height: 1.75;
    font-weight: 700;
}

.left-right-section {
    display: flex;
    margin-bottom: 25px;
}

.left-right-section .text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f8f6;
    color: #1e3932;
}

.left-right-section .image {
    width: 50%;
}

.left-right-section .image img {
    width: 100%;
}

.text h1, .text h3 {
    margin: 0;
}
.text h1 {
    margin-bottom: 24px;
}

.text h3 {
    margin-bottom: 24px;
    font-size: 18px;
}

.text .cta {
    color: #1e3932;
    display: inline-block;
    background: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 7px 16px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    transition: all .2s ease;
    cursor: pointer;
}

.text .cta:hover, .cta:hover {
    background-color: #1e39323a;
    padding: 8px 20px;
}

.happy .text {
    background-color: #f2f0eb;
}

.happy .text h1 {
    font-size: 50px;
    letter-spacing: 8px;
    color: #1e3932;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
}

.happy .text h3 {
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: -.01em;
    text-align: center;
    color: #1e3932;
    padding: 0 130px;
}

.chill .text h1 {
    color: #1e3932;
    letter-spacing: 8px;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.2;
    font-size: 50px;
    text-align: center;
}

.chill .text h3 {
    color: #1e3932;
    text-align: center!important;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: -.01em;
    padding: 0 130px;
}

.building-card {
    display: flex;
}

.building-card .left-section, .building-card .right-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.building-card .left-section {
    margin-right: 10px;
    background-color: #d4e9e2;
}

.building-card .right-section {
    margin-left: 10px;
    background-color: #d4e9e2;
}

.building-card .left-section .image img, .building-card .right-section .image img{
    width: 100%;
}

.left-section .text h1, .right-section .text h1, .aira-now .text h1 {
    color: #1e3932;
    font-size: 24px;
    text-align: center!important;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1.5;
    letter-spacing: -.01em;
}

.left-section .text h3, .right-section .text h3, .aira-now .text h3 {
    color: #1e3932;
    font-size: 19px;
    text-align: center!important;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1.5;
    letter-spacing: -.01em;
    line-height: 1.75;
    font-weight: 400;
}

.left-section .text, .right-section .text {
    display: flex;
    flex-direction: column;
}

.left-section .text .cta, .right-section .text .cta{
    margin: auto;
}

.aira-now {
    margin-top: 25px;
}

.notice {
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    text-align: center;
    color: #000000;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 400;
    letter-spacing: -.01em;
    margin: 40px 0;
}